*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
header{
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    margin-bottom: 10px;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    background-color: red;
    width: 300px;
    height: 50px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: large;
}
button:hover{
    background-color: orange;
}
body{
background-color: #ece5e5;
}

canvas{
    border: 2px solid black;
    display: block;
    margin: 0 auto;
}